{% extends 'customer/base.html' %}

{% block body %}
<h3 class="text-center m-4">Update Category</h3>
{% if success %}
    <div class="alert alert-success" role="alert">
        The new category updated successfully.
        <a href="{% url 'category' %}" class="alert-link">Go to Category Page.</a>
    </div>
{% else %}
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card bg-light mb-3">
                <div class="card-header">
                    <i class="fa-solid fa-pen-to-square fa-lg"></i> Update Category
                </div>
                <div class="card-body">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Update</button>
                        <a href="{% url 'category' %}" class="btn btn-secondary">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}